.registerForm {
  margin: 10% 0 0 20%;
  font-family: "fira sans";
  background-color: #e7dfc6;
  padding: 8% 4% 20% 4%;
  box-shadow: 2px 2px 2px 2px black;
  width: 40%;
}

.reg-cancel {
  margin: 1rem;
}
