div #homeContainer {
  height: 100vh;
  width: 100vw;
  /* background-image: url(../../images/Gigboard-Title.png); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */

  background: url(../../images/Gigboard-Title.png) no-repeat center center fixed;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
  /* background-size: stretch; */
  position: fixed;
  background-position: top;
  padding-top: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-image: url(../../images/josephine-bredehoft-KsAo8ouBn8A-unsplash.jpg);
  background-size: 100%;
}

#gigboard {
  font-family: 'Fira Sans';
  font-weight: 800;
  font-size: calc(2rem + 9vw);
  width: 100%;
  margin: -30% 0 0 0;
  /* position: relative; */
  /* padding: 150px 0 0 20%; */
  /* transform: rotate(-30deg); */
}

/* .floating-text {
  align-self: center;
  justify-self: center;
} */

#tagline {
  font-family: 'gudea';
  font-weight: 400;
  font-size: 30px;
  position: relative;
  margin: 10% 0 250px 50%;
  width: 120%;
  z-index: 1;
}

.sergio {
  height: auto;
  width: 16vw;
}

.ben {
  height: auto;
  width: 16vw;
}

.james {
  height: auto;
  width: 16vw;
}

.kaye {
  height: auto;
  width: 16vw;
}

.hayden {
  height: auto;
  width: 16vw;
}

.jc {
  height: auto;
  width: 16vw;
}

.bitmojis {
  position: absolute;
  bottom: 30px;
  left: 0px;
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  /* margin-top: -20%; */
  width: 100%;
  z-index: 99;
}

.bitmojis img {
  z-index: 99;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  margin-top: -20%;
  width: 130%;
}
