.post-container {
  display: flex;
  flex-direction: column;
  margin: 10% 0 0 20%;
  font-family: 'fira sans';
  background-color: #e7dfc6;
  box-shadow: 2px 2px 2px 2px black;
}

.urgent-high {
  background-color: #b0413e;
  color: white;
  font-weight: bold;
}

.urgent-moderate {
  background-color: #208aae;
  color: white;
  font-weight: bold;
}

.full-container {
  /* position: absolute; */
  margin: 0px 0px 0px 0px;
  top: 20%;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  width: 400px;
  padding: 4rem;
  /* padding: 8% 4% 20% 4%; */
  z-index: 100;
  /* transform: rotate(-12deg); */
}
.preview-container {
  /* width: 400px; */
  width: 200px;
  height: 100px;
  padding: 1rem;
  margin: 3rem;
  /* z-index: 90; */
  /* transform: rotate(3deg); */
}
