.GigAdder {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.post-it {
  /* display: flex; */
  margin: 2rem;
  font-family: "fira sans";
  background-color: #e7dfc6;
  width: 60%;
  padding: 2rem;
  box-shadow: 2px 2px 2px 2px black;
}

.cncl-btn {
  margin: 1rem;
}

.pay-form-container {
  display: flex;
}

.dollaSign {
  font-size: 22px;
  padding-top: 1%;
}
